.bg-body-tertiary{
  height: 80px;
  margin-left: 60px;
  margin-right: 60px;
}

.logo{
  font-size: 1.4rem;
  font-family:cursive;
  font-weight: 800;
  margin-right: 20px;
}

.nav-link{
  margin-right: 10px;
  font-weight: 700;
}

.bussined-word{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
  background: linear-gradient(90.37deg,#ffbe60,#ff8092 48.3%,#df2a40);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-style: italic;
}

.notification-icon{
  height: 45px;
  width: 45px;
  border-radius: 45px;
  border: 1px rgb(190, 182, 182) solid;
  padding-left: 11px;
  padding-top: 2px;
  font-size: 1.3rem;
  margin-right: -13px !important;
}

.user-icon{
  margin-right: -13px !important;
  height: 45px;
  width: 45px;
  border-radius: 45px;
  border: 1px rgb(190, 182, 182) solid;
  padding-left: 12px;
  padding-top: 3px;
  font-size: 1.2rem;
  color: rgb(229, 214, 188);
  background-color: rgb(255, 115, 0);
}

.header-btn-1{
  margin-right: -13px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 50px;
  background-color: white;
  border: 1px rgb(190, 182, 182) solid;
  color: black;
}
.header-btn-2{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-weight: 400;
}


.home1-main{
  height: 1000px;
  background-color: aqua;
}


/* Main_Slider */

.main_slider{
  width: 100%;
  height: 100vh;
  position: relative;
}

.main_slider_video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_slider_img{
  width: 100%;
  height: 100%;
  /* background-size: cover;   */
  /* object-fit: cover; */
}

.slider1_line1{
  position: absolute;
  top: 0;
  width: 40%;
  font-size: 3.8rem;
  font-weight: 700;
  color: white;
  line-height: 11vh;
  margin-top: 18vh;
  margin-left: 8vw;
}

.slider1_line2{
  position: absolute;
  top: 0;
  width: 40%;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  line-height: 5vh;
  margin-top: 45vh;
  margin-left: 8vw;
}

.slider_btn1_bg{
  position: absolute;
  top: 0;
  height: 100%;
  width: 40%;
  background-color: #df2a40;
  z-index: 1000;
}

.slider_btn1{
  font-size: 50px;
  padding: 10px 20px;
  z-index: 1000;
}

.slider2_line1{
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 3.8rem;
  font-weight: 700;
  color: white;
  line-height: 11vh;
  margin-top: 32vh;
}

.slider2_line2{
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  line-height: 11vh;
  margin-top: 43vh;
}

.swiper-pagination-bullet{
  padding: 9px 20px;
  border-radius: 50px !important;
  transition: all ease-in-out 0.4s;
} 

.swiper-pagination-bullet-active{
  padding: 9px 40px;
  background-color: white !important;
}

.swiper-button-prev{
  border: solid 2px white;
  padding: 55px 35px;
  color: white !important;
  border-radius: 50px;
  transition: all ease-in-out 0.2s;
  margin-top: -50px !important;
  /* display: none !important; */
}

.swiper-button-prev:hover{
  background-color: rgba(0, 0, 0, 0.432);
  color: rgb(152, 152, 152) !important;
}

.swiper-button-next{
  border: solid 2px white;
  padding: 55px 35px;
  color: white !important;
  border-radius: 50px;
  transition: all ease-in-out 0.2s;
  margin-top: -50px !important;
  /* display: none !important; */
}

.swiper-button-next:hover{
  background-color: rgba(0, 0, 0, 0.432);
  color: rgb(152, 152, 152) !important;
}

/* .main_slider:hover .swiper-button-next{
  display: block !important;
  cursor: pointer;
} */
